* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    height: 64px;
}
#head {
    display: flex;
    margin-left: 24px;
    margin: auto 24px
}
#logo-img {
    height: 32px;
}
 h1 {
    font-size: 16px;
    color: gray;
    opacity: 0.5;
}
strong {
    color: black;
}
ul {
    display: flex;
    gap: 16px;
    list-style: none;
    line-height: 32px;
    font-size: 1.2em;
    margin: auto 24px;
}
.mobile-nav-img {
    display: none;
}
ul li:hover {
    cursor: pointer;
    background-color: grey;
}

#banner {
    display: flex;
    background-color: #C2C2BE;
}
#banner-img {
    width: 60%;
    height: 60%;
    margin: 32px 24px
}
button {
    background-color: grey;
    font-size: 1em;
    padding: 8px;
    border: none;
    width: 90%;
}
button:hover {
    cursor: pointer;
}
button:active {
    background-color: red;
}
#something {
    margin: 8% auto;
    text-align: left;
}
h2 {
    font-size: 3em;
}

#practicing {
    display: flex;
    background-color: #F4F7F0;
}
#info {
    width: 60%;
    margin: 32px 24px;
}
#side-image {
    width: 40%;
    margin-top: 32px;
    border-left: 1px solid #C2C2BE;
}
#info-main {
    height: 60%;
    width: 100%;
}
.info-img {
    height: auto;
    width: 35%;
}
.side {
    display: flex;
    justify-content: space-evenly;
}
.side div {
    font-size: 1em;
    height: 100%;
    margin: auto;
    margin-left: 0;
}
a {
    text-decoration: none;
}
#guest-lectures {
    background-color: #C2C2BE;
}
#Orientation-data {
    border-bottom: 2px solid #C2C2BE;
}
#Orientation-data .info-img {
    margin: 0 16px 16px;
}
#guest-lectures .info-img, #campus .info-img{
    margin: 16px;
}
em {
    margin-bottom: 32px;
}
#galary-container {
    background-color: #e9e9e7;
    padding-bottom: 34px;
}
#mobile-programs {
    display: none;
}
h3 {
    text-align: center;
    font-size: 2em;
    margin: 32px auto;
    margin-top: 0;
    padding-top: 32px;
}
.flex {
    display: flex;
    gap: 32px;
    margin: 32px 72px;
    height: auto;
}
.gal {
    background-color: #FFFFFF;
}
.gal-img {
    height: 50%;
    width: 100%;
}
.gal h4 {
    margin-top: 16px;
    font-size: 1.2em;
}
.gal h5 {
    margin: 8px auto;
    font-weight: lighter;
    font-size: 1em;
}
.gal h4, .gal h5, .gal p {
    padding-left: 16px;
}
.gal p {
    padding-bottom: 24px;
    font-size: 0.8em;
}

#thesis-exhibit {
    background-color: #F4F7F0;
}
video {
    width: 100%;
}
.exhibit {
    display: flex;
}
#video-conatainer {
    margin: 0 32px 24px;
    width: 60%;
}
#thesis-info-conatiner {
    width: 40%;
}
.thesis-img {
    width: 35%;
    height: auto;
    padding: 16px;
}
.exhibit-img-container {
    display: flex;
}
#video-conatainer div {
    margin: 24px 8px 0 0;
    font-size: 1.5em;
}
#thesis-info-conatiner .exhibit-img-container:nth-child(1) {
    background-color: #C2C2BE;
}
.info-flex  {
    width: 50%;
    margin: 10% 0;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    border-top: 1px solid #C2C2BE;
    background-color: #F4F7F0;
}
footer div {
    display: flex;
    gap: 24px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    h2 {
        font-size: 2em;
    }
    #info h3 {
        font-size: 1.5em;
    }
    br {
        display: none;
    }
    .flex {
        margin: 32px 32px;
    }
    .thesis-img {
        width: 50%;
    }
}

@media (max-width: 767px) {
    h1 {
        display: none;
    }
    ul {
        display: none;
    }
    .mobile-nav-img {
        display: block;
        height: 32px;
        margin: auto 24px;
    }
    #banner {
        flex-direction: column;
    }
    #banner-img {
        width: 100%;
        margin: 0;
    }
    h2 {
        margin: 0 0 32px 16px;
    }
    #something p {
        margin: 0 0 24px 16px;
        width: 80%;
        font-size: 1.2em;
    }
    button {
        margin-left: 5%;
        margin-right: 5%;
    }
    #info {
        display: none;
    }
    #side-image {
        width: 100%;
    }
    .side {
        flex-direction: column;
    }
    .info-img {
        width: 90%;
        height: 12em;
        margin: 0 16px 0 16px;
    }
    .side div {
        margin-left: 32px;
        margin-bottom: 64px;
        font-size: 1.3em;
    }
    .side div p:nth-child(1) {
        font-size: 1.5em;
        font-weight: 800;
        margin-bottom: 2px;
    }
    .side div p:nth-child(2) {
        margin: 10px 0;
    }
    .flex {
        display: none;
    }
    #mobile-programs {
        display: block;
    }
    h3 {
        margin-bottom: 16px;
    }
    .mobile-courses {
        background-color: #C2C2BE;
        margin: 0 16px 8px 16px;
        padding: 16px 24px 16px;
        font-size: 1.3em;
    } 
    .mobile-courses:hover {
        cursor: pointer;
    }
    #video-conatainer {
        width: 100%;
        margin: 0;
        border-top: 3px solid #C2C2BE;
        border-bottom: 3px solid #C2C2BE;
    }
    #video-conatainer div, #video-conatainer p, #thesis-info-conatiner {
        display: none;
    }
    footer {
        border: none;
    }
    footer div {
        display: none;
    }
}